<script src="javascripts/d3.v3.min.js"></script>
<script src="javascripts/jstree/src/jstree.js"></script>
<script src="javascripts/jstree/src/jstree.checkbox.js"></script>
<script src="javascripts/diagram.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="javascripts/jstree/dist/themes/default/style.min.css" />
<div style="margin-top: 30px">
	<div style="position: abolute;">
		<!--<p style="position: absolute; left: 5px;">This diagram generator is still in a beta version.</p>-->
		<div style="position: absolute; left: 20px; height: 60%">
			<table>
				<tr>
					<td style="width:160px">
						<h4>List options</h4>
					</td>
					<td>
						<h4>Graph options</h4>
					</td>
				</tr>
				<tr>
					<td>
						<label style="margin-top: 5px; font-weight: normal !important">
							<input type="checkbox" id="linkedDatasets" onchange="post()" checked>List Linked Datasets</label>
					</td>
					<td>
						<label style="margin-top: 5px; font-weight: normal !important">
							<input type="checkbox" name="ontologies" value="ontologies" id="ontologies">Show Ontologies</label>
					</td>
				</tr>
				<tr>
					<td>
						<label style="font-weight: normal !important">
							<input type="checkbox" onchange="selectAll()" id="selectAll">Select All</label>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div>
							<label style="font-weight: normal !important" for="showLinks">
								<input ng-click="showWhat='Links'" type="radio" name="linkType" checked value="showLinks" id="showLinks"> Show number of links</label>
						</div>
						<!--<div><label style="font-weight: normal !important" for="showLinksStrength"><input ng-click="showWhat='Link strength'" type="radio" name="linkType" value="showLinksStrength" id="showLinksStrength"> Show link strength</label></div>-->
						<div>
							<label style="font-weight: normal !important" for="showSimilarity">
								<input ng-click="showWhat='Link similarity'" type="radio" name="linkType" value="showSimilarity" id="showSimilarity"> Show similarities</label>
						</div>
						<div>
							<label style="font-weight: normal !important" for="showDarkLOD">
								<input ng-click="showWhat='Dark LOD'" type="radio" name="linkType" value="showDarkLOD" id="showDarkLOD"> Show Dark LOD</label>
						</div>
						<div ng-show="showWhat=='Link strength' || showWhat=='Link similarity'">{{showWhat}} range:
							<div>
								<input style="width: 55px" type="number" class="linkStrength" value="0.5" min="0" max="1" step="0.001" id="linkFrom">To
								<input style="width: 55px" type="number" class="linkStrength" value="1" min="0" max="1" step="0.001" id="linkTo">
							</div>
						</div>
					</td>
				</tr>
			</table>
			<button class="btn btn-primary " id="filter" style="width:310px; margin-top:10px" onclick="submitTree()">Update!</button>
			<div style="overflow-y:scroll; height:100%; width: 310px; position: relative; left: 0; margin-top: 10px">
				<div id="tree"></div>
				<div id="loading">Loading...</div>
				<div id="linksDialog" title="Links" style="display: none">
					<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed
						with the 'x' icon.</p>
				</div>
			</div>
		</div>
	</div>
			
	<div style="position: absolute; left: 350px; width: 590px">
		<div style="float: right; ">
			<i class="icon-large icon-question-sign"></i>Legend:
			<i style="margin-left: 20px" class="btn btn-sm btn-info"></i>
			<span>Dataset</span>
			<a style="margin-left: 20px" class="btn btn-sm label-default"> </a>
			<span>Subset</span>
			<a style="margin-left: 20px" class="btn btn-sm btn-success"> </a>
			<span>Dump file</span>
			<a style="margin-left: 20px" class="btn btn-sm btn-warning"> </a>
			<span>Vocabulary</span>
		</div>
		<img id="loading_gif" alt="" src="images/loading.gif" style="display: none; ">
	</div>
</div>
<!--<div style="position: absolute">-->
<div style="min-width: 80%; min-height: 82%;  top: 120px ; border: 1px solid #d8d8d8; position: absolute; left: 350px ">
	<div id="diagram" style="height: 100%; width: 100%; position: absolute"></div>
</div>
<!--</div>-->
<script type="text/javascript">
	var showingDarkLOD = false;

	function selectAll(){
		if($('#selectAll').is(":checked"))
			$('#tree').jstree("select_all");
		else
			$('#tree').jstree("deselect_all");
	}
	
	function post(){
		
		makeTreePlugin();
		
		// creating post address
		var serverAddress = "/partial/proxy/ResourceTree";
		if($('#linkedDatasets').is(":checked")){
			serverAddress = serverAddress + "?linkedDatasets=true";
		}
	
			
		$('#tree').jstree("destroy");
		$.post(serverAddress, function(data) {
			$('#tree').jstree({
				"core" : {"data": data,
					 'animation' : 0,
					 "themes":{
				            "icons":false
				        }
					 } ,
					"checkbox" : {
					 "three_state": false,
					 "real_checkboxes" : true ,
					 "cascade" : "down" 
				},
				"plugins" : [ "themes", "html_data", "checkbox", "ui", "markChildren" ]
			});
			
			$('#loading').html("");
			
		
		}, 'json');
	}
		
	function makeTreePlugin(){
	    "use strict";
	    var img = document.createElement('IMG');
	    img.type = 'checkbox';
	    img.title = "Select or deselect child nodes";
	    img.src = "images/Tree_Node_Path.PNG";
	    img.className = "jstree-markChildren dataSelect";
		
		var img2 = document.createElement('SPAN');
	    // img2.type = 'checkbox';
	    // img2.title = "Select or deselect child nodes";
	    img2.className = "jstree-markChildren dataSelect";
	    // img2.src = "images/Tree_Node_Path.PNG";
	
	    $.jstree.defaults.markChildren = $.noop;
	    $.jstree.plugins.markChildren = function (options, parent) {
			
			
			
	        this.bind = function () {
	            parent.bind.call(this);			
	            this.element
	                .on("click.jstree", ".jstree-markChildren", $.proxy(function (e) {
	                        e.stopImmediatePropagation();
	                        this.settings.markChildren.call(this, this.get_node(e.target));
	                        uncheck(this.get_node(e.target));
	                    }, this));
	        };
	        this.teardown = function () {
	            if(this.settings.markChildren) {
	                this.element.find(".jstree-markChildren").remove();
	            }
	            parent.teardown.call(this);
	        };
	        this.redraw_node = function(obj, deep, callback) {
	            obj = parent.redraw_node.call(this, obj, deep, callback);
				
	            if(obj) {			
	                var tmp = img.cloneNode(true);
	                var tmp2 = img2.cloneNode(true);
					
					if(typeof $(obj).attr('aria-expanded') != "undefined")
	                	obj.insertBefore(tmp, obj.childNodes[2]);
					else
						obj.insertBefore(tmp2, obj.childNodes[2]);
	            }
	            return obj;
	        };
	    };
	}
		
		
	$('#myModal').on('shown.bs.modal', function () {
		  $('#myInput').focus();
	});
	
	post();
	function uncheck(a){
		node = $("#tree").jstree("get_node", (a)); 
	
		   var roots = $('#tree').jstree(true).get_children_dom(node);
		    roots.each(function(x, k) { 
		    	var myimg = k.getElementsByTagName('SPAN')[0];
				
				
		    	if(myimg.classList.contains("dataSelect")){
		    		$("#tree").jstree("deselect_node", ("#"+k.id)); 
		    		$(myimg).removeClass('dataSelect');
		    		$(myimg).addClass('dataDeselect');
		    	}
		    	else{
		    		$("#tree").jstree("select_node", ("#"+k.id)); 
		    		$(myimg).removeClass('dataDeselect');
		    		$(myimg).addClass('dataSelect');
		    	}
	    });
	}
	var result = "";
	function submitTree() {
		var level = $("#level").val();
		result = "";
		
		$('#tree').jstree('get_checked').forEach(function(l) {
			// if(isValidURL(l))
				result = result + l + "&dataset="; 
		});
			if (result != "") {
			result = result.substring(0, result.length - 9);
		$("#loading_gif").show();
		$("#filter").prop('disabled', true);
		
		// make url
		if($("#distributions").is(":checked"))
			addParameter("showDistributions",true);
		if($("#ontologies").is(":checked"))
			addParameter("showOntologies",true);
		if($('#invalidLinks').is(":checked")){
			addParameter("showInvalidLinks",true);
		}
		
		addParameter("linkType", $('input[name=linkType]:checked').val());
		addParameter("linkFrom", $('#linkFrom').val());
		addParameter("linkTo", $('#linkTo').val());
		
		// check whether the diaram is showing the dark lod
			if(($('input[name=linkType]:checked').val() == "showDarkLOD")){
				showingDarkLOD = true;
			}
			else
				showingDarkLOD = false;
			
		makeGraph(result);
		}
		
	}	
	
	$('.linkStrength').keypress(function(event) {
	  if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
	    event.preventDefault();
	  }
	});
	
	var addParameter = function(parameter, value){
		result=result+"&"+parameter+"="+value;
	};
	
	var openLinkDialog = function(){
		$( "#linksDialog" ).dialog();
	}

</script>