<div class="page-header">
	<h1>Quick start</h1>
</div>
<!--<h1>Quick start</h1>-->
<p>Check whether you datasets contain links to external datasets using this online demo. You can retrieve links of your datasets in RDF (<a href="http://www.w3.org/TR/void/#linkset" target="_blank">void:linkset</a>) format.</p>
<h2 style="margin-top: 35px">Step 1. Add your dataset address.</h2>
<p>Paste the URL of your CKAN's dataset or the URL for your description file (<a href="http://www.w3.org/TR/vocab-dcat/" target="_blank">DCAT</a>, <a href="http://www.w3.org/TR/vocab-dcat/" target="_blank">VoID</a> or <a href="http://dbpedia.org/projects/dbpedia-dataid-unit" target="_blank">DATAID</a>) and choose the RDF format.</p>
<div><input type="text" ng-model="datasetAddress" size="80"> <select ng-model="choosenFormat" ng-options="a.name for a in formats"> <option value="">-- format --</option> </select> </div>
<div style="margin-top: 15px"><button ng-click="startAPI()">Stream File</button></div> 
<div style="margin-top: 15px"><span ng-show="showApiCall"><p>API call: <a href="{{apiAddress}}" target="_blank">{{apiAddress}}</a></p></span></div>
<span  style="color: {{showApiResponseColor}}" ng-show="showApiResponse">
	<p>API response: {{apiResponse}}</p>
	<p style="color: {{apiParserMessage.error ? 'red' : 'black'}}">API parser response: {{apiParserMessage.message}}</p>
	</span>
	<h5 ng-show="showLoading" class="label btn-success">Loading... </h5>

<h2 style="margin-top: 25px">Step 2. Check the status.</h2>
<p>If your dataset had already been downloaded or is still streaming, click in "Check Status" to retrieve information about dump files being processed.</p><button ng-click="checkStatus()">Check Status</button>
<div style="margin-top: 15px"  ng-show="showApiStatusResponse"><p>Check the complete API response for your dump files here: 
	<div><a href="{{apiStatusCall}}" target="_blank">{{apiStatusCall}}</a> </div> </p>
<!--<p>API parser message: {{apiParserMessage.message}}</p>-->

<table class="table" style="margin-top: 35px">
	<th>Dataset</th><th style="margin-left: 30px">Status</th><th>Vocab. Links</th><th>Links</th><th>RDF</th>
	<tr ng-repeat="dist in distributions">
		<td>{{dist.downloadUrl}} </td>
		<td>{{dist.status}} </td>
		<td> <i class="{{hasVocabularyLinks(dist)}}"</i></td>
        <td> <i class="{{hasLinks(dist)}}"</i></td>
        <td> <a h target="_blank" href="{{serverURL}}?retrieveDataset={{dist.downloadUrl}}" ><img src="images/rdf.24" > </a> </td>
		<!--<td>{{hasLinks(dist)}}</td>-->
		<!--<td><i class="{{
					  dist.status=='ERROR' ? 'glyphicon glyphicon-thumbs-down' : 
					 (dist.status=='STREAMING' ? 'glyphicon glyphicon-forward' :
					 (dist.status=='DONE' ? 'glyphicon glyphicon-thumbs-up' :
					 (dist.status=='WAITING_TO_STREAM' ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-question-sign')))
					  }}"></i></td>-->
	</tr>
</table>
</div>


	<h2 style="margin-top: 35px">Step 3. Access the diagram.</h2>
	<p>Does your dataset is connected tho other ones? Check our <a href="/#/diagram">diagram</a> page to get a cool graph visualization.</p>
	
	<!--
<p> Retrieve RDF data using void:Linkset format for each streamed dump file. Click in the API Link for each dump file.</p>
<button ng-click="retrieveRDF()"> Retrieve RDF </button>

<div style="margin-top: 15px" ng-show="showRDF">
<table class="table">
	<th>Distribution details:</th>
	<tr ng-repeat="dist in distributions">
		<td>
			<div>Label: {{dist.title}}</div>

			<div>Download URL: {{dist.downloadUrl}}</div>
		
			
		<div> RDF description links:  </div>
		<ul>
			<li>By parent dataset:  <a  target="_blank" href="{{serverURL}}?retrieveDataset={{dist.resourceUri}}">{{serverURL}}?retrieveDataset={{dist.resourceUri}} </a> </li>
			<li>By distribution:  <a  target="_blank" href="{{serverURL}}?retrieveDataset={{dist.downloadUrl}}">{{serverURL}}?retrieveDataset={{dist.downloadUrl}} </a></li>
		</ul>
			</tr>
</table>
</div>-->