<div class="page-header">
	<h1>Quick start</h1>
</div>
<p>Check whether you datasets contain links to external datasets using this online demo. You can retrieve links of your datasets in RDF (<a href="http://www.w3.org/TR/void/#linkset" target="_blank">void:linkset</a>) format.</p>
<h2 style="margin-top: 35px">Step 1. Add your dataset address.</h2>
<p>Paste the URL of your CKAN's dataset or the URL for your description file (<a href="http://www.w3.org/TR/vocab-dcat/" target="_blank">DCAT</a>, <a href="http://www.w3.org/TR/vocab-dcat/" target="_blank">VoID</a> or <a href="http://dbpedia.org/projects/dbpedia-dataid-unit" target="_blank">DataID</a>) and choose the RDF format.</p>
<div><input type="text" ng-model="datasetAddress" size="80"> <select ng-model="choosenFormat" ng-options="a.name for a in formats"> <option value="">-- format --</option> </select> </div>
<div style="margin-top: 15px"><button ng-click="startAPI()">Stream File</button></div> 
<div style="margin-top: 15px"><span ng-show="showApiCall"><p>API call: <a href="{{apiResponse.apiCall}}" target="_blank">{{apiResponse.apiCall}}</a></p></span></div>
<span  style="color: {{showApiResponseColor}}" ng-show="showApiResponse">
<p>API response: {{apiResponse.coreMsg}}</p>
<p style="color: {{apiResponse.error ? 'red' : 'black'}}">API parser response: {{apiResponse.parserMsg}}</p>
</span>
<h5 ng-show="showLoading" class="label btn-success">Loading... </h5>

<h2 style="margin-top: 25px">Step 2. Check the status.</h2>
<p>Click in "Check Status" to retrieve information about dump files being processed.</p><button ng-click="checkStatus()">Check Status</button>
<div style="margin-top: 15px"  ng-show="showApiStatusResponse"><p>Check the complete API response for your dump files here: 
	<div><a href="{{APIStatusCall}}" target="_blank">{{APIStatusCall}}</a> </div> </p>
<!--<p>API parser message: {{apiParserMessage.message}}</p>-->

<table class="table" style="margin-top: 35px">
	<th>Dataset</th><th style="margin-left: 30px">Status</th><th>Vocab. Links</th><th>Links</th><th>RDF</th>
	<tr ng-repeat="dist in distributions">
		<td>{{dist.distribution.downloadUrl}} </td>
		<td>{{dist.distribution.status}} </td>
		<td> <i class="{{hasVocabularyLinks(dist)}}"</i></td>
        <td> <i class="{{hasLinks(dist)}}"</i></td>
        <td> <a h target="_blank" href="{{serverURL}}distribution/compare/rdf?source={{dist.distribution.downloadUrl}}" ><img src="images/rdf.24" > </a> </td>
	</tr>
</table>
</div>


<h2 style="margin-top: 35px">Step 3. Access the diagram.</h2>
<p>Dows your dataset contain links to other datasets? Check our <a href="/#/diagram">diagram</a> page to get a cool diagram visualization.</p>
