<script src="javascripts/jquery.dataTables.min.js"></script>
<script src="javascripts/dataTables.bootstrap.js"></script>
<script src="javascripts/d3.v3.min.js"></script>
<!--<script src="javascripts/histogram-chart.js"></script>-->
<script src="javascripts/pie-chart.js"></script>
<style type="text/css">
  /*svg {
   font: 10px sans-serif;
}
.bar {
   stroke: white;
   fill: steelBlue;
}
.axis path, .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}
rect.mover {
   stroke: lightSteelBlue;
   stroke-opacity: 0.3;
   fill: lightSteelBlue;
   fill-opacity: 0.1;
}*/
  /*body {
  font: 10px sans-serif;
}*/
  
  .arc path {
    stroke: #fff;
  }
  
 .dataTables_filter input { 
   min-width: 300px;
   }
</style>
<div class="page-header">
  <h1>{{appName}} Statistics</h1>
</div>
<p>Here you can find a list of streamed datasets and vocabularies.</p>
<p>Datasets: {{stats.numberOfDatasets}}</p>
<p>Vocabularies: {{stats.numberOfVocabularies}}</p>
<p>Triples: {{stats.numberOfTriples}}</p>
<div class="page-header">
  <h3>List of streamed datasets:</h3>
</div>
<div style="margin-bottom: 20px; margin-top: 20px;">
  <a style="cursor: pointer " id="advancedSearch"> Advanced Search </a>
  <div id="advancedSearchForm" class="well hidden">
    <div class="form-group">
          <label for="searchSubject">Subject</label>
          <input class="form-control" id="searchSubject" type="text" size="50">
          <p class="help-block">E.g. http://dbpedia.org/resource/Hawaii </p>
     </div>
     <div class="form-group">
          <label for="searchProperty">Property</label>

          <input class="form-control" id="searchProperty" type="text" size="50">
          <p class="help-block">E.g. http://open.vocab.org/terms/defines </p>          
     </div>
     <div class="form-group">
          <label for="searchObject">Object</label>

          <input class="form-control" id="searchObject" type="text" size="50">
          <p class="help-block">E.g. http://de.dbpedia.org/resource/Potsdam </p>           
     </div>
     <div class="form-group">
         <div>
           <label>Type of search:</label>
         </div>

         <div><input id="0" value="0" type="radio" name="searchVocabularies" ng-model="searchVocabularies"> <label for="0">Search only Vocabularies</label> </div>
         <div><input id="1" value="1" type="radio" name="searchVocabularies" ng-model="searchVocabularies"> <label for="1">Search only Datasets</label> </div>
         <div><input id="2" value="2" type="radio" name="searchVocabularies" ng-model="searchVocabularies"> <label for="2">Search Datasets and Vocabularies</label></div>
          <!--<p class="help-block">E.g. http://de.dbpedia.org/resource/Potsdam .</p>           -->
     </div>
     
     <button onclick="updateTable()">Update Table</button>
  </div>
</div>
<table id="distributions" class="table table-striped table-bordered" cellspacing="0" style="max-width: 100%; table-layout: fixed; word-wrap:break-word;">
  <thead>
    <tr>
      <th>Dataset</th>
      <th>Dump File</th>
      <th style="width: 180px">Status</th>
      <th style="width: 160px">Last Time Streamed</th>
      <th style="width: 175px">Options</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!-- Compare dataset modal -->
<div id="datasetCompareModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Comparing dataset:</b> <i>{{datasetTitle}}</i></h4>
      </div>
      <div class="modal-body">
        <p> Here you can compare the dataset <i>{{datasetTitle}}</i> with multiple datasets regarding to number of links and
          similarities.
          <p>Dataset Title: {{datasetTitle}}</p>
          <p>Distribution Title: {{distributionTitle}}</p>
          <p>Dump file: {{dumpFile}}</p>
          Compare the top
          <input ng-change="getDatasetSimilarityStatistics()" type="text" ng-model="top" size="3"> regarding to
          <select ng-model="option" ng-change="getDatasetSimilarityStatistics()" ng-options="item.label for item in modalSimilaritiesOptions"></select> .
          <table class="table" style="margin-top: 20px">
            <th>Dataset</th>
            <th>{{option.label}}</th>
            <th ng-show="(option.value!='strength') && (option.value!='links')">Options</th>
            <tr ng-repeat="val in modalTopLinks">
              <td>
                <a href="{{ val[2] }}" target="_blank"> {{ val[0] }} </a>
              </td>
              <td>{{ val[1] }}</td>
              <td ng-show="(option.value!='strength') && (option.value!='links')">
                <a data-toggle="modal" style="cursor: pointer" data-target="#chartModal" ng-click="createSimilarityTable(val[4], val[0])">Details</a>
              </td>
            </tr>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Dataset Similarities table compare modal -->
<div id="chartModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Comparing:</b> <i>{{distributionTitle}}</i> <b>with</b> <i>{{similarityTableDataset2Title}}</i></h4>
      </div>
      <div class="modal-body">
        <!--<p>Dump file 1: {{distributionTitle}}</p>
        <p>Dump file 2: {{similarityTableDataset2Title}}</p>-->
        <table class="table" style="margin-top: 20px">
          <th>Predicate </th>
          <th> {{distributionTitle}}</th>
          <th>{{similarityTableDataset2Title}}</th>
          <tr ng-repeat="val in similarityTableData">
            <td>
              {{val.val}}
            </td>
            <td>
              {{val.dataset1}}
              <td>
                {{val.dataset2}}
              </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Dataset Details -->
<div id="datasetDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dataset: {{datasetTitle}}</h4>
      </div>
      <div class="modal-body">
        <p>Dataset Title: {{datasetTitle}}</p>
        <p>Distribution Title: {{distributionTitle}}</p>
        <p>Dump file: {{dumpFile}}</p>
        <input ng-change="getDatasetDetailsStatistics()" type="text" ng-model="detailsTop" size="3">
        <select ng-model="optionDetails" ng-change="getDatasetDetailsStatistics()" ng-options="item.label for item in modalDetailsOptions"></select>
        <table class="table" style="margin-top: 20px">
          <th>Dataset</th>
          <th>{{optionDetails.label}}</th>
          <tr ng-repeat="val in modalTopLinks">
            <td>
               {{ val[0] }} 
            </td>
            <td>
              {{ val[1] }}
              </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  
    $('#advancedSearch').click(function (event) {
        $('#advancedSearchForm').toggleClass('hidden show');
    });
  
  var updateTable = function(){
     $('#distributions').DataTable().ajax.reload();
  }
  
  $(document).ready(function() {
  
     var table = $('#distributions').dataTable({
              "searching": true,
              "ordering":  false,
              "processing": true,
              "serverSide": true,
              "ontologies":  false,
              "oLanguage": { "sSearch": "Search by title or URL " },
              "ajax": {
                  "url": "/partial/proxy/list",
                  "data": function ( d ) {
                      d.isVocabulary = false;
                      d.searchSubject = $('#searchSubject').val();
                      d.searchObject = $('#searchObject').val();
                      d.searchProperty = $('#searchProperty').val();
                  }
              },
              "columnDefs": [ {
              "targets": -1,
              "data": null,
              "defaultContent": "<button id='similarities'>Links and Similarities</button> <button id='detail'>Dataset Details</button>"
           }
        ],   
      });
      
      $('#distributions tbody').on( 'click', 'button', function () {
         if($(this).attr("id") == 'similarities'){
         var scope = angular.element("#datasetCompareModal").scope();
           scope.dumpFile = $(this).parents('tr').children("td:eq(1)").text(); 
           scope.getDatasetSimilarityStatistics();
           scope.$apply();
           $('#datasetCompareModal').modal({
            show: 'false',
        }); 
       }
       else{
          var scope = angular.element("#datasetDetailsModal").scope();
           scope.dumpFile = $(this).parents('tr').children("td:eq(1)").text(); 
           scope.getDatasetDetailsStatistics();
           scope.$apply();
           $('#datasetDetailsModal').modal({
          show: 'false'
      });  
       }
    });
  });

</script>