<script src="javascripts/jquery.dataTables.min.js"></script>
<script src="javascripts/dataTables.bootstrap.js"></script>
<script src="javascripts/d3.v3.min.js"></script>
<script src="javascripts/pie-chart.js"></script>
<style type="text/css">
   th.hide_me, td.hide_me {display: none;}
  .arc path {
    stroke: #fff;
  }
  
 .dataTables_filter input { 
   min-width: 300px;
   }
</style>
<div class="page-header">
  <h1>{{appName}} Search and Analysis </h1>
</div>
<p>Here you can find datasets and vocabularies. Moreover, you can fetch for statistical data w.r.t. dataset similarities and top N resources.</p>
<p>Number of datasets: {{stats.numberOfDatasets}}</p>
<p>Number of vocabularies: {{stats.numberOfVocabularies}}</p>
<p>Number of triples loaded: {{stats.numberOfTriples}}</p>
<div class="page-header">
  <h3>List of streamed datasets:</h3>
</div>
<div style="margin-bottom: 20px; margin-top: 20px;">
  <a style="cursor: pointer " id="advancedSearch"> Advanced Search </a>
  <div id="advancedSearchForm" class="well hidden">
    <div class="form-group">
          <label for="searchSubject">Subject</label>
          <input class="form-control" id="searchSubject" type="text" size="50">
          <p class="help-block">E.g. http://dbpedia.org/resource/Hawaii </p>
     </div>
     <div class="form-group">
          <label for="searchProperty">Property</label>

          <input class="form-control" id="searchProperty" type="text" size="50">
          <p class="help-block">E.g. http://open.vocab.org/terms/defines </p>          
     </div>
     <div class="form-group">
          <label for="searchObject">Object</label>

          <input class="form-control" id="searchObject" type="text" size="50">
          <p class="help-block">E.g. http://de.dbpedia.org/resource/Potsdam </p>           
     </div>
     <div>
     <div class="form-group">
         <div>
           <label>Type of search:</label>
         </div>

         <div><input id="0" value="0" type="radio" name="searchVocabularies" ng-model="searchVocabularies"> <label for="0">Search only Vocabularies</label> </div>
         <div><input id="1" value="1" type="radio" name="searchVocabularies" ng-model="searchVocabularies" checked> <label for="1">Search only Datasets</label> </div>
         <div><input id="2" value="2" type="radio" name="searchVocabularies" ng-model="searchVocabularies"> <label for="2">Search Datasets and Vocabularies</label></div>
          <!--<p class="help-block">E.g. http://de.dbpedia.org/resource/Potsdam .</p>           -->
     </div>
     <div class="form-group">
     <!--<div style="top:-120px; left: 370px; position: relative" class="form-group">-->
         <div>
           <label>Status:</label>
         </div>
         <div><input id="searchStatus0" value="0" type="radio" name="searchStatus" ng-model="searchStatus" checked> <label for="searchStatus0">Done</label> </div>
         <div><input id="searchStatus1" value="1" type="radio" name="searchStatus" ng-model="searchStatus"> <label for="searchStatus1">Waiting to Stream</label> </div>
         <div><input id="searchStatus2" value="2" type="radio" name="searchStatus" ng-model="searchStatus"> <label for="searchStatus2">Error</label> </div>
     </div>
     </div>
     
     <button onclick="updateTable()">Update</button>
  </div>
</div>


<!-- LIST -->
<table id="distributions" class="table table-striped table-bordered" cellspacing="0" style="max-width: 100%; table-layout: fixed; word-wrap:break-word;">
  <thead>
    <tr>
      <th>Dataset</th>
      <th>Distribution</th>
      <th style="width: 180px">Status</th>
      <th style="width: 160px">Last Time Streamed</th>
      <th></th>
      <th style="width: 175px">Options</th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!-- Compare dataset modal -->
<div id="datasetCompareModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Comparing dataset:</b> <i>{{datasetTitle}}</i></h4>
      </div>
      <div class="modal-body">
        <p> Here you can compare the dataset <i>{{datasetTitle}}</i> with multiple datasets regarding to number of links and
          similarities.
          <p>Dataset Title: {{datasetTitle}}</p>
          <p>Distribution Title: {{distributionTitle}}</p>
          <p>Dump file: {{dumpFileURL}}</p>
          Compare the top
          <input ng-change="getDatasetSimilarityStatistics()" type="text" ng-model="top" size="3"> regarding to
          <select ng-model="option" ng-change="getDatasetSimilarityStatistics()" ng-options="item.label for item in modalSimilaritiesOptions"></select> .
          <table class="table" style="margin-top: 20px">
          <th ng-show="(option.value!='badLinks')">Distribution</th>
          <th ng-show="(option.value=='badLinks')">Dataset</th>

            <th>{{option.label}}</th>
            <th ng-show="(option.value!='strength')">Options</th>
            <tr ng-repeat="val in modalTopLinks">
              <td>
                <a href="{{ val[2] }}" target="_blank"> {{ val[0] }} </a>
              </td>
              <td>{{ val[1] }}</td>
              <td ng-show="(option.value!='strength') && (option.value!='links')&& (option.value!='badLinks')">
                <a data-toggle="modal" style="cursor: pointer" data-target="#chartModal" ng-click="createSimilarityTable(val[4], val[0])">Details</a>
              </td>
              <td ng-show="(option.value=='links') || (option.value=='badLinks')">
                <a data-toggle="modal" style="cursor: pointer" data-target="#topNLinksModal" ng-click="createTopNModal(val[4], val[0])">Top 100</a>
              </td>
            </tr>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Dataset Similarities table compare modal -->
<div id="chartModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Comparing:</b> <i>{{distributionTitle}}</i> <b>with</b> <i>{{similarityTableDataset2Title}}</i></h4>
      </div>
      <div class="modal-body">
        <!--<p>Dump file 1: {{distributionTitle}}</p>
        <p>Dump file 2: {{similarityTableDataset2Title}}</p>-->
        <table class="table" style="margin-top: 20px">
          <th>Predicate </th>
          <th> {{distributionTitle}}</th>
          <th>{{similarityTableDataset2Title}}</th>
          <tr ng-repeat="val in similarityTableData">
            <td>
              {{val.val}}
            </td>
            <td>
              {{val.dataset1}}
              <td>
                {{val.dataset2}}
              </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- TOP N Links Modal-->
<div id="topNLinksModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Top N links from:</b> <i>{{distributionTitle}}</i> <b>to</b> <i>{{similarityTableDataset2Title}}</i></h4>
      </div>
      <div class="modal-body">
        <!--<p>Dump file 1: {{distributionTitle}}</p>
        <p>Dump file 2: {{similarityTableDataset2Title}}</p>-->
        <table class="table" style="margin-top: 20px">
          <th>Resource</th>
          <th>Number of Links</th>
          <tr ng-repeat="val in topNLinksTableData">
            <td>
              {{val.resource}}
            </td>
            <td>
              {{val.amount}}
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- Dataset Details -->
<div id="datasetDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dataset: {{datasetTitle}}</h4>
      </div>
      <div class="modal-body">
        <p>Dataset Title: {{distributionList.datasetTitle}}</p>
        <p>Distribution Title: {{distributionList.distributionTitle}}</p>
        <p>Number of triples: {{distributionList.distributionTriples}}</p>
        <p>Is vocabulary: {{distributionList.isVocabulary}}</p>
        <p>VoID Linkset description: <a target="_blank" href="{{distributionList.rdfURL}}" style="width:400px">{{distributionList.rdfURL}}</a></p>
        <p>Dump file: {{dumpFileURL}}</p>
        <p>Show top <input ng-change="getDatasetDetailsStatistics()" type="text" ng-model="detailsTop" size="3"> <select ng-model="optionDetails" ng-change="getDatasetDetailsStatistics()" ng-options="item.label for item in modalDetailsOptions"></select> .</p>
        <table class="table" style="margin-top: 20px">
          <th>Resource</th>
          <th>Number of {{optionDetails.label}}</th>
          <tr ng-repeat="val in modalTopLinks">
            <td>
               {{ val[0] }} 
            </td>
            <td>
              {{ val[1] }}
              </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  
    $('#advancedSearch').click(function (event) {
        $('#advancedSearchForm').toggleClass('hidden show');
    });
  
  var updateTable = function(){
     $('#distributions').DataTable().ajax.reload();
  }
  
  $(document).ready(function() {
     var table = $('#distributions').dataTable({
       "fnRowCallback": function(nRow, aData, iDisplayIndex){
        if($("td:eq(2)",nRow).html() == "ERROR"){
           var statusMsg = $("td:eq(2)",nRow).html();
           var errorMsg = $("td:eq(5)",nRow).html();
           var html = statusMsg+"<a data-toggle=\"tooltip\" title=\" "+errorMsg+"\"> <i class=\"glyphicon glyphicon-exclamation-sign\"></i> </a>";
           $("td:eq(2)",nRow).html(html);
        }
       },
              "searching": true,
              "ordering":  false,
              "processing": true,
              "serverSide": true,
              "ontologies":  false,
              "oLanguage": { "sSearch": "Search by title or URL " },
              "ajax": {
                  "url": "/partial/proxy/list",
                  "data": function ( d ) {
                      d.isVocabulary = false;
                      d.searchSubject = $('#searchSubject').val();
                      d.searchObject = $('#searchObject').val();
                      d.searchProperty = $('#searchProperty').val();
                      d.searchVocabularies = $('input:radio[name=searchVocabularies]:checked').val();
                      d.searchStatus = $('input:radio[name=searchStatus]:checked').val();
                  }
              },
              "columnDefs": [ {
              "targets": -1,
              "data": null,
              "defaultContent": "<button id='similarities'>Links and Similarities</button> <button id='detail'>Distribution Details</button>"
           },{
                "targets":  4 ,
                "sClass": "hide_me",
           },{
                "targets":  5 ,
                "sClass": "hide_me",
           }
        ],   
      });
      
      $('#distributions tbody').on( 'click', 'button', function () {
         if($(this).attr("id") == 'similarities'){
         var scope = angular.element("#datasetCompareModal").scope();
           scope.dumpFile = $(this).parents('tr').children("td:eq(4)").text(); 
           scope.dumpFileURL = $(this).parents('tr').children("td:eq(1)").text(); 
           scope.getDatasetSimilarityStatistics();
           scope.$apply();
           $('#datasetCompareModal').modal({
            show: 'false',
        }); 
       }
       else{
          var scope = angular.element("#datasetDetailsModal").scope();
           scope.dumpFile = $(this).parents('tr').children("td:eq(4)").text(); 
           scope.dumpFileURL = $(this).parents('tr').children("td:eq(1)").text(); 
           scope.getDatasetDetailsStatistics();
           scope.$apply();
           $('#datasetDetailsModal').modal({
          show: 'false'
      });  
       }
    });
  });

</script>
