<div class="page-header">
	<h1 style="">{{appName}} Wiki</h1>
</div>
<p>This page provides a basic guideline of {{appName}} API usage. Further information about the software architecture can be
	found in <a href="http://svn.aksw.org/papers/2015/ISWC_DynLOD/public.pdf">this paper</a>.</p>
<div class="page-header">
	<h2>Contents</h2>
</div>
<div>
	<ul>
		<!--<li>
				<a href="#onlineDemo">Using our Online demo</a>
			</li>-->
		<!--<li>
				<a href="#diagram">Diagram Overview</a>
			</li>-->
		<li>
			<a href="#api">API usage</a>
		</li>
		<ul>
			<li>
				<a href="#adding">Adding dataset to diagram</a>
			</li>
			<li>
				<a href="#checking">Checking your dataset status</a>
			</li>
			<li>
				<a href="#retrieving">Retrieving RDF VoID Linkset data</a>
			</li>
		</ul>
		<li>
			<a href="#downloading">Downloading and installing your stand-alone {{appName}}</a>
		</li>
	</ul>
</div>
<!--<div class="page-header">
		<h2>
			<a name="onlineDemo"></a>Using our Online demo</h2>
	</div>
	<div>We provide a free Online instance of {{appName}}. The API is available at the address
		<a href="{{serverURL}}api">{{serverURL}}api</a>, and for the diagram visualization, we provide the address
		<a href="{{serverURL}}cloud.html?dataset=">{{serverURL}}cloud.html?dataset=</a>.
		<br>
	</div>
	<div class="page-header">
		<h2>
			<a name="diagram"></a>Diagram Overview</h2>
	</div>
	<div>
		<p>{{appName}} provides a
			<a href="{{serverURL}}cloud.html?dataset=">diagram</a>which you can add your datasets, and find out whether your dataset contain linkset to other datasets. Linksets are defined
			as intersections of objects and subjects, which means that links occurs when objects and subjects of distinct datasets are
			equals. The visualization consists of two parts, which includes a tree of datasets and an area which is updates with a SVG
			diagram according to the selected datasets of the tree.</p>
		<p>The root of the tree contains the top datasets, i.e. datasets which don't contains a parent dataset. The following figure
			depicts the structure of DBpedia commons datasets:</p>
		<div style="text-align: center; margin-top: 25px; margin-bottom: 25px">
			<img style="border: 1px solid #d8d8d8;" alt="" src="resources/img/tree2.png">
		</div>Notice that the top dataset named "DBpedia 2014 commons dumps dataset" contains several subsets (categories, links, degrees,
		etc), and each subset contains a dump file (distribution). You can select one or more item to filter and create a customized
		graph. The following figure depicts the generated diagram for the selected distributions.
		<div style="text-align: center; margin-top: 25px; margin-bottom: 25px">
			<img style="border: 1px solid #d8d8d8;" alt="" src="resources/img/diagram_tree.png">
		</div>That there are three different nodes (bubbles) colors. The grey nodes are the nodes selected from the tree, green nodes
		the related datasets, and finally the orange nodes are ontologies. The arrows represents the links direction between the
		nodes. Notice that if your dataset has not been shown in the graph, means the current dataset doesn't have more that 50 links.
		<p>Try now some of the following examples and check out the resulted diagram! In the top level of granularity, check out where
			lod-cloud.net is connected with:</p>
		<pre>
			<a href="{{serverURL}}cloud.html?dataset=http://lod-cloud.net/">{{serverURL}}cloud.html?dataset=http://lod-cloud.net/</a>
		</pre>
		<!-- p>
						You can also choose a distribution level, in this case "DBpedia article categories" distribution:
						</p>
						<pre><a href="{{serverURL}}cloud.html?dataset=http://downloads.dbpedia.org/2014/commons/article_categories_commons.nt.bz2">{{serverURL}}cloud.html?dataset=http://downloads.dbpedia.org/2014/commons/article_categories_commons.nt.bz2</a></pre ->
		<p>With no parameters, you can see a general overview of all datasets in a multiple granularity level:</p>
		<pre>
			<a href="{{serverURL}}cloud.html">{{serverURL}}cloud.html?dataset=</a>
		</pre>
	</div>-->
<div class="page-header">
	<h2>
		<a name="api"></a>API usage</h2>
</div>
<div>{{appName}} API has three main features, which consists in add new dataset to the diagram, retrieve data about the streaming
	status, and finally, retrieve RDF and a diagram about related datasets. To add a dataset and retrieve the status, the API
	returns a
	<b>JSON Object</b>which contains a "message" field and a "success" filed with a boolean value. The following sections describe
	thw API usage.</div>
<h4 style="margin-top: 30px">
	<a name="adding"></a>Adding dataset to diagram</h4>
<div>{{appName}} parses different description files, such as DataID, VoID and DCAT. Thus, what you need to add your datasets
	is a link that contains the description file, and {{appName}} will read it and try to fetch distributions dump files. Considering
	that the application requests header in the format
	<code>"Accept: application/rdf+xml"</code>it's also possible, for instance, to add your dataset via a CKAN link.
	<p>The API parameters used to add a dataset are:</p>
	<table class="table" style="margin-top: 20px; margin-bottom: 20px">
		<th>Parameter:</th>
		<th>Description:</th>
		<th>Accepts array?</th>
		<th style="width: 300px">Returns:</th>
		<tr>
			<td>
				<code>addDataset</code>
			</td>
			<td>link for your dataset description. Might be a list of links.</td>
			<td>
				<b>Yes</b>
			</td>
			<td rowspan="2">
				<b>JSON Object</b>with a core message "API initialized" and (later, when the webpage is refreshed) a parser message with the
				number of distributions parsed.</td>
		</tr>
		<tr>
			<td>
				<code>rdfFormat</code>
			</td>
			<td>format of the added links in the
				<code>addDataset</code>parameter. Formats are:
				<b>ttl</b>,
				<b>nt</b>or
				<b>rdfxml</b>.</td>
			<td>
				<b>No</b>
			</td>
			<td></td>
		</tr>
	</table>
	<p>An generic example of a link to add a http://x.y.x/dataset.ttl file in turtle is:
		<code>vmdbpedia.informatik.uni-leipzig.de:9090/dynlod/api?addDataset=http://x.y.x/dataset.ttl?rdfFormat=ttl</code>.</p>
	<p>After adding the dataset, you should get a message indicating if the API was successfully initiated. To check details about
		parsed distributions and datasets, check the next section for the datasetStatus parameter.</p>
</div>
<h4 style="margin-top: 30px">
	<a name="checking"></a>Checking your dataset status</h4>
<div>
	<p>The API parameter used to verify the details of the loading/streaming process for a dataset is:</p>
	<table class="table">
		<th>Parameter</th>
		<th>Description</th>
		<th>Accepts array?</th>
		<th>Returns</th>
		<tr>
			<td>
				<code>datasetStatus</code>
			</td>
			<td>link for your previouly added dataset.</td>
			<td>
				<b>No</b>
			</td>
			<td>
				<b>JSON Object</b>(described in the next table)</td>
		</tr>
	</table>A detailed description for the returned
	<b>JSON Object</b>of the
	<code>datasetStatus</code>parameter is given by the next table.
	<table class="table">
		<th style="width: 150px">Key</th>
		<th>Description</th>
		<th style="width: 350px; padding-left: 10px">Possible values</th>
		<tr>
			<td>downloadURL</td>
			<td>Identify the distributions which being dexcribed.</td>
			<td>The distribution URL</td>
		</tr>
		<tr>
			<td>success</td>
			<td>
				<b>boolean</b>value. Case value is false, an error occured and you can check the "lastErrorMessage" or the "message" value.</td>
			<td>
				<b>true</b>or
				<b>false</b>
			</td>
		</tr>
		<tr>
			<td>lastErrorMessage</td>
			<td>A friendly message indicating the error case "success" field is
				<b>false</b>.</td>
			<td>-</td>
		</tr>
		<tr>
			<td>message</td>
			<td>General message returned from server.</td>
			<td>-</td>
		</tr>
		<tr>
			<td>topDataset</td>
			<td>Returns the top parent dataset of the described distribution.</td>
			<td>Top dataset URI</td>
		</tr>
		<tr>
			<td>status</td>
			<td>The current status for the distribution.</td>
			<td>Described in the next table</td>
		</tr>
	</table>Even if you loaded tousands of distributions, the "status" key allows you to check individually the status of each of them.
	The next table details, in order, each possible "status" value.
	<table class="table">
		<th>Value</th>
		<th>Description</th>
		<tr>
			<td>
				<code>WAITING_TO_DOWNLOAD</code>
			</td>
			<td>Your distribution is in the download queue and was not streamed yet.</td>
		</tr>
		<tr>
			<td>
				<code>DOWNLOADING</code>
			</td>
			<td>Your distribution being streamed/downloaded.</td>
		</tr>
		<tr>
			<td>
				<code>CREATING_BLOOM_FILTER</code>
			</td>
			<td>Your distribution was successfully streamed and {{appName}} is creating the Bloom filter.</td>
		</tr>
		<tr>
			<td>
				<code>WAITING_TO_CREATE_LINKSETS</code>
			</td>
			<td>Shortly, the current distribution will be compared with other to count links between them.</td>
		</tr>
		<tr>
			<td>
				<code>CREATING_LINKSETS</code>
			</td>
			<td>{{appName}} is comparing an counting links of the current distribution with distributions previoulsy stored in our server.</td>
		</tr>
		<tr>
			<td>
				<code>DONE</code>
			</td>
			<td>The process was complete with no errors.</td>
		</tr>
		<tr>
			<td>
				<code>ERROR</code>
			</td>
			<td>Something went wrong and the error is described in the "lastErrorMessage" field.</td>
		</tr>
	</table>The following example was produced for a DBpedia description file, and depicts the status for the "redirects_commons" ditribution:
	<pre
	style="margin-top: 20px">... { "http://downloads.dbpedia.org/2014/commons/redirects_commons.nt.bz2" : { "DownloadUrl" : "http://downloads.dbpedia.org/2014/commons/redirects_commons.nt.bz2"
		, "message" : "Distribution: http://downloads.dbpedia.org/2014/commons/redirects_commons.nt.bz2 Status: DONE " , "status"
		: "DONE" , "success" : true , "topDataset" : "http://downloads.dbpedia.org/2014/commons/dataid.ttl#dataset" } } , ...</pre>
		<p>Case all status are equal to
			<code>DONE</code>or
			<code>ERROR</code>, means that {{appName}} already processed all of them, and there is noting else to do. Case there are errors
			wich you can fix, you might be able to send again your description file via
			<code>addDataset</code>parameter. {{appName}} will not stream again distributions already in the
			<code>DONE</code>status, unless its detected a change in the file size. {{appName}} do it requesting the "Content-Length" header
			and comparing the previous distribution size.</p>
</div>
<h4 style="margin-top: 30px">
	<a name="retrieving"></a>Retrieving RDF VoID Linkset data</h4>
<div>The following table describes the
	<code>retrieveDataset</code>, which retrieves RDF data about counted links in the
	<b>VoID Linkset</b>format.
	<table class="table">
		<th>Parameter</th>
		<th>Description</th>
		<th>Accepts array?</th>
		<th>Returns</th>
		<tr>
			<td>
				<code>retrieveDataset</code>
			</td>
			<td>the dataset/distribution URI</td>
			<td>
				<b>No</b>
			</td>
			<td>RDF (turtle format) with linksets data.</td>
		</tr>
	</table>
</div>
<div class="page-header">
	<h4 style="margin-top: 30px">
		<a name="downloading"></a>Downloading and installing your stand-alone {{appName}}</h4>
</div>
<div>To deploy {{appName}} in your own server, please check our
	<a href="https://github.com/AKSW/dynamiclod">GitHub page</a>.</div>