<div class="page-header">
	<h1 style="">{{appName}}</h1>
	<h4 style="">What are the State-of-the-art For.</h4>
</div>
<div style="float: right"><img src="images/wasota.png"></div>
<p> {{appName}}  yada yada yada</a>.
	</p>


<div class="page-header" style="width: 600px">
	<h3>Do you have MEX RDF files to be published on the web?</h3>
</div>

<p> Copy and paste your data here </p>

<p> Also, we are working on the basic documentation which is available in our <a href="#/wiki">Wiki</a> page.</p>
<div class="page-header">
	<h3>A brief explanation...</h3>
</div>